.single--post--container {
	margin: 2%;
}

.post--body {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
}

.post--info {
	margin-top: 3%;
	padding-left: 3%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 30px;
}

.post-image {
	width: 100%;
}

.post--info--title {
	font-size: 2.5rem;
	font-weight: 600;
}

.post--info--creater {
	margin-top: -10px;
	font-size: 1.5rem;
	font-weight: 400;
	color: #333;
}

.post--info--tags {
	font-size: 1.2rem;
	font-weight: 400;
	color: #444;
}

.post--info--time {
	font-size: 1rem;
	color: #444;
}

.post--info--message {
	font-size: 1.6rem;
	font-weight: 500;
	color: #444;
}

.post--info--btns {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	margin: 5%;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	width: 80%;
}

.post--info--like {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	width: 100%;
	font-size: 1.8rem;
}

.post--info--delete {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	width: 100%;
	font-size: 1.8rem;
}

.related--posts--title {
	font-size: 3rem;
	font-weight: 600;
	color: #111;
	margin-top: 3%;
}

.post--related-posts {
	width: 94%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	flex-wrap: wrap;
	margin: 0 auto;
}
