.single--post--container {
	margin: 1%;
}

.post--body {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
}

.post-image {
	width: 100%;
}

.post--info {
	margin-top: 1%;
	padding-left: 1%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
}

.post--info--title {
	font-size: 2rem;
	font-weight: 600;
}

.post--info--creater {
	margin-top: -10px;
	margin-left: 20px;
	font-size: 1.2rem;
	font-weight: 400;
	color: #333;
}

.post--info--time {
	margin-top: -10px;
	margin-left: 20px;
	font-size: 1rem;
	color: #444;
}

.post--info--tags {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	font-size: 1rem;
	font-weight: 400;
	color: #555;
}

.post--info--message {
	font-size: 1.6rem;
	font-weight: 500;
	color: #444;
}

.post--info--btns {
	display: flex;
	flex-direction: row;
	margin: 5%;
	justify-content: space-around;
	align-items: flex-start;
	gap: 160px;
	width: 80%;
}

.post--info--like {
	cursor: pointer;
	box-shadow: 2px 3px 10px 0px #aaa;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 70%;
	font-size: 1.8rem;
}

.post--info--delete {
	cursor: pointer;
	box-shadow: 2px 3px 10px 0px #aaa;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	font-size: 1.8rem;
}

.post--info--comment {
	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
	width: 95%;
}

.post--info--comment--title {
	font-size: 1.4rem;
	margin: 1%;
}

.post--info--comment--posted--obj {
	border-radius: 10px;
	width: 100%;
	box-shadow: 2px 3px 10px 0px #aaa;
	display: flex;
	flex-direction: column-reverse;
	font-size: 1rem;
	/* justify-content: start; */
	align-items: start;
	height: 230px;
	overflow-y: scroll;
}

.post--info--comment--posted--owner {
	font-weight: 500;
	width: 97%;
	margin: 1%;
	/* text-align: end; */
	width: 100%;
}

.post--info--comment--posted--comment {
	color: #444;
	margin-bottom: 10px;
	margin: 1%;
	width: 100%;
}

.post--info--comment--post--textbox {
	width: 100%;
	border-radius: 10px;
	padding: 1%;
	height: 100px;
}

.post--info--comment--post--submitbtn {
	border-radius: 10px;
	cursor: pointer;
	margin: 2%;
	box-shadow: 3px 4px 10px 0px #aaa;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
}

.related--posts--title {
	font-size: 3rem;
	font-weight: 600;
	color: #111;
	margin-top: 3%;
}

.post--related-posts {
	width: 94%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	flex-wrap: wrap;
	margin: 0 auto;
}
